.content {
  padding-right: 15px;
  padding-left: 15px;

  &__single-item {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    padding: 5%;
    margin-bottom: 50px;
    text-align: center;

    i {
      color: #e91e63;
    }

    h2 {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  .socials {
    i {
      margin: 0 10px;
    }
  }
}
